* {
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

html, body, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    src: url("../fonts/roboto-regular.woff2");
    font-family: "roboto";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/roboto-medium.woff2");
    font-family: "roboto";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/sofia-pro-regular.woff2");
    font-family: "sofia-pro";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/sofia-pro-bold.woff2");
    font-family: "sofia-pro";
    font-weight: bold;
}

