* {
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

html, body, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    src: url("../fonts/roboto-regular.ttf");
    font-family: "roboto";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/roboto-medium.ttf");
    font-family: "roboto";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/sofia-pro-regular.ttf");
    font-family: "sofia-pro";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/sofia-pro-bold.ttf");
    font-family: "sofia-pro";
    font-weight: bold;
}

