name: build

on: repository_dispatch

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: npm install
        run: npm install

      - name: npm run update:cst
        run: npm run update:cst

      - name: npm run format
        run: npm run format

      - name: npm run make
        run: npm run make

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: glimmr-setup.exe
          path: dist/squirrel-windows/glimmr-setup.exe
