name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build and package
        run: npm run make

      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: nitshift-setup.exe
          path: dist/squirrel-windows/nitshift-setup.exe
